<div class="row">
    <div class="col-md-4 subject">
        <h1><span class="label label-primary">{{annotation.subject.label}}</span></h1>
    </div>
    
    <div class="col-md-4 predicate">
        <h1><span class="label label-primary">
            <select ng-model="selectedPredicate" ng-options="predicate as predicate.label for predicate in predicates">
                <option value="" label="{{annotation.predicate.label}}">{{annotation.predicate.label}}</option>
            </select>
            
	        <!--
	        <select ng-model="selectedPredicate">
		        <optgroup label="original">
		            <option value="{{annotation.predicate}}">{{annotation.predicate.label}}</option>
		        </optgroup>
		        <optgroup label="available">
		            <option ng-repeat="predicate in predicates" value="{{predicate}}">
		                {{predicate.label}}
		            </option>
		        </optgroup>
	        </select>
	         -->
        </span></h1>
    </div>
    
    <div class="col-md-4 object">
        <h1><span class="label label-primary">{{annotation.object.label}}</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="commentSection" class="well">
            <label for="comment">Explain your annotation (optional)</label>
            <textarea class="form-control" id="comment" rows="3" ng-model="comment" placeholder="Enter your comment here"></textarea>
        </div>
    </div>
</div>

<div id="btnRow" class="row">
    <div class="col-md-1 col-md-offset-7">
        <a class="btn btn-primary" href="#/submit" ng-click="saveState()">Next</a>
    </div>
</div>